@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../node_modules/bulma/css/bulma.css';
@import '../../node_modules/bulma-list/css/bulma-list.css';
@import '../../node_modules/bulma-o-steps/bulma-steps.min.css';
@import '../../node_modules/bulma-carousel/dist/css/bulma-carousel.min.css';
@import '../../node_modules/bulma-quickview/dist/css/bulma-quickview.min.css';
@import '../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css';
@import './style.css';
body {
  height: 100vh;
}
li.is-active a {
  color: rgb(100, 225, 11) !important;
}
img.canvas {
  height: 70vh;
  object-fit: contain;
}
.columns {
  border-bottom: 1px solid rgb(100, 100, 100);
}
.columns:not(:last-child) {
  margin-bottom: 0px;
}
.container.is-fluid {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.live {
  position: relative;
}
/* aside.menu a {
  color: whitesmoke;
} */
/* .liveview {
  height: 800px;
} */
