@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../node_modules/bulma/css/bulma.css';
@import '../../node_modules/bulma-o-steps/bulma-steps.min.css';
@import './style.css';
.live {
  position: relative;
}
li.is-active a {
  color: rgb(100, 225, 11) !important;
}
aside.menu a {
  color: whitesmoke;
}
